<div class="cart">
    <h1>Your Cart</h1>
    {% for item in cart.items %}
        <div class="cart-item">
            <p>{{ item.product.title }}</p>
            <span>{{ item.quantity }}</span>
            <span>{{ item.line_price | money }}</span>
        </div>
    {% endfor %}
    <p>Total: {{ cart.total_price | money }}</p>
</div>
